*{
    margin: 0;
    padding: 0;
    /* font-family:'Poppins', sans-serif ; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f293a;
}
.container{
    position: relative;
    /* background-color: #1f293a; */
    background: transparent;
    min-height: 45vh;
    width: 70vh;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid #0ef;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 20px
    
}
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #0ef; 
    text-align: center;
    /* padding-top: 5px; */
  }
  /* #length{
    padding-top: 5px;
  } */
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #f5f5f5; 
    background-color: #333; 
  }
  .options label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cccccc; 
  }
  input[type="checkbox"] {
    accent-color: #65d5db; 
  }
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color:#0ef ; /* #007bff Blue button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  button:hover{
    font-size: large;
    /* opacity: 0.10; */
  }
  button:hover {
    background-color: #65d5db; 
  }
  #password-display {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color:#f7f7f7 ;
    background-color: #333;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    text-align: center;
  }